<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" >
		{% csrf_token %} 
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Submit">

      <input for="submittype" value="{{output}}"/>
    </form>
  </body>
</html>